@model Limdo.Web.App.Models.AppUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit @Model.FirstName @Model.LastName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Hidden("UriKey")

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="AppUserId" class="control-label"></label>
                    <input asp-for="AppUserId" class="form-control" />
                    <span asp-validation-for="AppUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UriKey" class="control-label"></label>
                    <input asp-for="UriKey" class="form-control" />
                    <span asp-validation-for="UriKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubjectId" class="control-label"></label>
                    <input asp-for="SubjectId" class="form-control" />
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="FirstLineOfAddress" class="control-label"></label>
                <input asp-for="FirstLineOfAddress" class="form-control" />
                <span asp-validation-for="FirstLineOfAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLineOfAddress" class="control-label"></label>
                <input asp-for="SecondLineOfAddress" class="form-control" />
                <span asp-validation-for="SecondLineOfAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CountryId" class="control-label"></label>
                    <input asp-for="CountryId" class="form-control" />
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="CountryIdValue" class="control-label"></label>
                    <input asp-for="CountryIdValue" class="form-control" />
                    <span asp-validation-for="CountryIdValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderId" class="control-label"></label>
                    <input asp-for="GenderId" class="form-control" />
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderIdValue" class="control-label"></label>
                    <input asp-for="GenderIdValue" class="form-control" />
                    <span asp-validation-for="GenderIdValue" class="text-danger"></span>
                </div>*@
            @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsBlocked" /> @Html.DisplayNameFor(model => model.IsBlocked)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ModifierAppUserId" class="control-label"></label>
                    <input asp-for="ModifierAppUserId" class="form-control" />
                    <span asp-validation-for="ModifierAppUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

